.transactionHistory {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: left;
}

.transactionHistory th {
  background-color: #87d6e3;
}

.transactionHistory th,
.transactionHistory td {
  padding: 10px;
  border: 1px solid #ddd;
}

.transactionHistory thead {
  background-color: #f5f5f5;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
